// FOOTER::START
footer.footer
  .container
    .footer__wrapper
      .footer__nav
        a(href='#') About 
        a(href='contact.html') Contact us
      .footer__nav
        a(href='how.html#pro') Medical Professionals
        a(href='how.html#facility') Facilities
      .footer__nav
        a(href='#') Privacy policy
        a(href='#') Terms & conditions 
      .footer__socials
        a(href='#' target='_blank')
          i.icon.icon-twitter
        a(href='#' target='_blank')
          i.icon.icon-linkedin
        a(href='#' target='_blank')
          i.icon.icon-facebook 
    .footer__bottom
      .footer__copy © LocumRocket 2017
      .footer__author All rights reserved
