// FOOTER::START
footer.footer
  .container
    .footer__wrapper
      .footer__nav
        a(href='#') About 
        a(href='#') Contact us
      .footer__nav
        a(href='#') Medical Professionals
        a(href='#') Facilities
      .footer__nav
        a(href='#') Privacy policy
        a(href='#') Terms & conditions 
      .footer__socials
        a(href='#')
          i.icon.icon-twitter
        a(href='#')
          i.icon.icon-linkedin
        a(href='#')
          i.icon.icon-facebook 
    .footer__bottom
      .footer__copy © LocumRocket 2017
      .footer__author All rights reserved
