doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    .page.static-header
      // contact
      .contact
        .container
          .heading
            .heading__main Get in Touch
            .heading__sub Questions, comments and feedback – let us know!
          .contact__socials
            a(href='#').contact__social-item
              i.icon.icon-twitter
              span Twitter
            a(href='#').contact__social-item
              i.icon.icon-linkedin
              span LinkedIn  
            a(href='#').contact__social-item
              i.icon.icon-facebook
              span Facebook
            a(href='#').contact__social-item
              i.icon.icon-email
              span support@LocumRocket.com
          form(action='').form.form--center.js-contact-form
            .form-container
              .form-inputs
                .ui-input.ui-input--line
                  label Name
                  input(type='text' name='name' placeholder='Your name')  
                .ui-input.ui-input--line
                  label Email
                  input(type='email' name='email' placeholder='your@email.com')
                
                .ui-textarea.ui-textarea--line
                  textarea(placeholder='Let us know … ' name='text' rows='3')
                  
              button(type='submit').btn.btn--form 
                span Get in touch
                i.icon.icon-next
      
      
      
    include shared/footer.pug
    include shared/modal-reg.pug
    include shared/scripts.pug
