doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header-pro.pug
    .page.page--bg.page--pad.static-header
      .page__content
        // DASHBOARD
        .d-welcome
          .container
            a(href='#').d-title-back 
              i.icon.icon-forward
              span Back to dashboard
            .d-title My Dashboard
            .d-welcome__wrapper
              // facility image and maps
              .d-welcome__left
                .d-welcome__pro
                  .d-welcome__pro__avatar
                    img(src='images/tmp/dashProfessional.jpg' srcset='images/tmp/dashProfessional@2x.jpg 2x')
                  .d-welcome__pro__name
                    span Bob Macron, MD
                    i.icon.icon-verify
                  .d-welcome__pro__location
                    i.icon.icon-location
                    span Oakland, CA
                  .d-welcome__pro__rating
                    i.icon.icon-rating
                    span 4.9
                      span 10 reviews
                  .d-welcome__pro__jsr
                    .d-welcome__pro__jsr__head
                      span Job Sucess
                      span 95%
                    .d-welcome__pro__jsr__progress
                      div(style='width: 95%')
                  .d-welcome__pro__actions
                    .d-welcome__pro__actions__btns
                      a(href='#').btn.btn--round 
                        i.icon.icon-chat
                      a(href='#').btn.btn--round 
                        i.icon.icon-call
                      a(href='#').btn.btn--round 
                        i.icon.icon-videocall
                    
                    a(href='#').btn.btn--red.btn--150 Hire
                    
                    
                    
                      
              // facility description
              .d-welcome__right
                .d-welcome__about.d-box
                  .d-welcome__about__head
                    .d-welcome__about__head__name My profile details
                  // row
                  .d-welcome__about__row.d-welcome__about__row--2col
                    .d-welcome__about__item
                      .d-welcome__about__label Specialty
                      .d-welcome__about__value INTERNAL MEDICINE
                    .d-welcome__about__item
                      .d-welcome__about__label Degree
                      .d-welcome__about__value MD
                  // row
                  .d-welcome__about__row.d-welcome__about__row--2col
                    .d-welcome__about__item
                      .d-welcome__about__label Availability
                      .d-welcome__about__value Less than 20h/week
                    .d-welcome__about__item
                      .d-welcome__about__label Experience
                      .d-welcome__about__value >10 years
                  // row
                  .d-welcome__about__row
                    .d-welcome__about__item
                      .d-welcome__about__label Introduction
                      .d-welcome__about__value 
                        p Accumsan sit simpliciter phantasma illud ex volutpat. Illud phantasma industria vexillum scriptor accumsan fuit unquam cum 1500s, cum incognita est a printer tulit unam, et diripienda autem genus est genus ut libero. Non remansit quinque saecula non tantum, sed etiam in saltu electronic condimentum, remanserant per se unum. Is eram in 1960 popularized cum release Cum incognita est a printer tulit unam, et diripienda
                
                // next info section    
                .d-welcome__about.d-box
                  .d-welcome__about__head
                    .d-welcome__about__head__name Employment history
                  // row
                  .d-welcome__about__hidden.active(data-visible='0')
                    // single record
                    .d-welcome__about__record
                      .d-welcome__about__record__top
                        .d-welcome__about__record__title
                          | Medical Doctor - Department of cardiology
                          span SF GENERAL HOSPITAL
                        .d-welcome__about__record__year 2012 - present
                      .d-welcome__about__record__content The UF Health Cardiology Ocala Heath Brook location is part of UF Health, the Southeast's most comprehensive academic health center, but maintains a community practice environment and has many ancillary services located directly in the practice. 
                    // single record
                    .d-welcome__about__record
                      .d-welcome__about__record__top
                        .d-welcome__about__record__title
                          | Resident – Department of cardiology
                          span SF GENERAL HOSPITAL
                        .d-welcome__about__record__year 2011 - 2012
                      .d-welcome__about__record__content Responsibilities include providing outpatient general and/or interventional cardiology and cardiac imaging services, as well as shared night and weekend call.
                          
                // next info section    
                .d-welcome__about.d-box
                  .d-welcome__about__head
                    .d-welcome__about__head__name Education history
                  // row
                  .d-welcome__about__hidden.active(data-visible='0')
                    // single record
                    .d-welcome__about__record
                      .d-welcome__about__record__top
                        .d-welcome__about__record__title
                          | Medical Doctor - MD
                          span University of California, Los Angeles (UCLA)
                        .d-welcome__about__record__year 2008 - 2012
                      
                    // single record
                    .d-welcome__about__record
                      .d-welcome__about__record__top
                        .d-welcome__about__record__title
                          | Bachelor of Science - BS
                          span Los Angeles High scool
                        .d-welcome__about__record__year 2003 - 2008
                      .d-welcome__about__record__content Biology major
                
                // next info section    
                .d-welcome__about.d-box
                  .d-welcome__about__head
                    .d-welcome__about__head__name Reviews and LocumRocket history
                  // row
                  .d-welcome__about__hidden.active(data-visible='0')
                    // single testimonial
                    .d-welcome__about__testimonial
                      .d-welcome__about__testimonial__content
                        .d-welcome__about__testimonial__title Cardiologist
                        .d-welcome__about__testimonial__text Dr. Macron is a great doctor. He has a amazing bedside manner and is very professional. I can't recommend him enough.
                        .d-welcome__about__testimonial__author - Bob Dole, SF GENERAL HOSPITAL
                      .d-welcome__about__testimonial__rating
                        i.icon.icon-rating
                        i.icon.icon-rating
                        i.icon.icon-rating
                        i.icon.icon-rating
                        i.icon.icon-rating.icon-rating-blank
                        span 4
                    // single testimonial
                    .d-welcome__about__testimonial
                      .d-welcome__about__testimonial__content
                        .d-welcome__about__testimonial__title Rock star cardiologist needed!
                        .d-welcome__about__testimonial__text He went above and beyond to make sure that patients received the best care.. 100% recommend.
                        .d-welcome__about__testimonial__author - John Smith, Sacramento state hosital
                      .d-welcome__about__testimonial__rating
                        i.icon.icon-rating
                        i.icon.icon-rating
                        i.icon.icon-rating
                        i.icon.icon-rating
                        i.icon.icon-rating-half
                        span 4.5
                              
                      
      include shared/footer.pug
      include shared/feedback.pug
    include shared/modal-reg.pug
    include shared/scripts.pug
