doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header-pro.pug
    .page.page--bg.page--pad.static-header
      .page__content
        // DASHBOARD ALERTS
        .alerts
          .alert.alert--red.visible
            i.icon.icon-alert
            .alert__text Remember to fill out our week timesheet. Go to 
              a(href='#') PAYROLL
            i.icon.icon-close
        
        // DASHBOARD
        .d-welcome
          .container
            .d-title My Dashboard
            .d-welcome__wrapper
              // facility image and maps
              .d-welcome__left
                .d-welcome__pro
                  .d-welcome__pro__avatar
                    img(src='images/tmp/dashProfessional.jpg' srcset='images/tmp/dashProfessional@2x.jpg 2x')
                  .d-welcome__pro__content
                    .d-welcome__pro__name
                      span Bob Macron, MD
                      i.icon.icon-verify
                    .d-welcome__pro__location
                      i.icon.icon-location
                      span Oakland, CA
                    .d-welcome__pro__rating
                      i.icon.icon-rating
                      span 4.9
                        span 10 reviews
                    .d-welcome__pro__jsr
                      .d-welcome__pro__jsr__head
                        span Job Sucess
                        span 95%
                      .d-welcome__pro__jsr__progress
                        div(style='width: 95%')
                    
                    
                      
              // facility description
              .d-welcome__right
                .d-welcome__about.d-box
                  .d-welcome__about__head
                    .d-welcome__about__head__name My profile details
                    a(href='#').btn.btn--red.btn--head PROFILE SETTINGS
                  // row
                  .d-welcome__about__row.d-welcome__about__row--2col
                    .d-welcome__about__item
                      .d-welcome__about__label Specialty
                      .d-welcome__about__value INTERNAL MEDICINE
                    .d-welcome__about__item
                      .d-welcome__about__label Degree
                      .d-welcome__about__value MD
                  // row
                  .d-welcome__about__row.d-welcome__about__row--2col
                    .d-welcome__about__item
                      .d-welcome__about__label Availability
                      .d-welcome__about__value Less than 20h/week
                    .d-welcome__about__item
                      .d-welcome__about__label Experience
                      .d-welcome__about__value >10 years
                  // row
                  .d-welcome__about__row
                    .d-welcome__about__item
                      .d-welcome__about__label Introduction
                      .d-welcome__about__value 
                        p Accumsan sit simpliciter phantasma illud ex volutpat. Illud phantasma industria vexillum scriptor accumsan fuit unquam cum 1500s, cum incognita est a printer tulit unam, et diripienda autem genus est genus ut libero. Non remansit quinque saecula non tantum, sed etiam in saltu electronic condimentum, remanserant per se unum. Is eram in 1960 popularized cum release Cum incognita est a printer tulit unam, et diripienda
                
                // next info section    
                .d-welcome__about.d-welcome__about--toggable.d-box.js-showMoreList
                  .d-welcome__about__head.show-more(data-hidden='1' data-alttext='Show less')
                    .d-welcome__about__head__name Employment history
                    .d-welcome__about__head__toggable
                      span Show more
                      i.icon.icon-select
                  // row
                  .d-welcome__about__hidden(data-visible='0')
                    // single record
                    .d-welcome__about__record
                      .d-welcome__about__record__top
                        .d-welcome__about__record__title
                          | Medical Doctor - Department of cardiology
                          span SF GENERAL HOSPITAL
                        .d-welcome__about__record__year 2012 - present
                      .d-welcome__about__record__content The UF Health Cardiology Ocala Heath Brook location is part of UF Health, the Southeast's most comprehensive academic health center, but maintains a community practice environment and has many ancillary services located directly in the practice. 
                    // single record
                    .d-welcome__about__record
                      .d-welcome__about__record__top
                        .d-welcome__about__record__title
                          | Resident – Department of cardiology
                          span SF GENERAL HOSPITAL
                        .d-welcome__about__record__year 2011 - 2012
                      .d-welcome__about__record__content Responsibilities include providing outpatient general and/or interventional cardiology and cardiac imaging services, as well as shared night and weekend call.
                          
                // next info section    
                .d-welcome__about.d-welcome__about--toggable.d-box.js-showMoreList
                  .d-welcome__about__head.show-more(data-hidden='1' data-alttext='Show less')
                    .d-welcome__about__head__name Education history
                    .d-welcome__about__head__toggable
                      span Show more
                      i.icon.icon-select
                  // row
                  .d-welcome__about__hidden(data-visible='0')
                    // single record
                    .d-welcome__about__record
                      .d-welcome__about__record__top
                        .d-welcome__about__record__title
                          | Medical Doctor - MD
                          span University of California, Los Angeles (UCLA)
                        .d-welcome__about__record__year 2008 - 2012
                      
                    // single record
                    .d-welcome__about__record
                      .d-welcome__about__record__top
                        .d-welcome__about__record__title
                          | Bachelor of Science - BS
                          span Los Angeles High scool
                        .d-welcome__about__record__year 2003 - 2008
                      .d-welcome__about__record__content Biology major
                
                // next info section    
                .d-welcome__about.d-welcome__about--toggable.d-box.js-showMoreList
                  .d-welcome__about__head.show-more(data-hidden='1' data-alttext='Show less')
                    .d-welcome__about__head__name Reviews and LocumRocket history
                    .d-welcome__about__head__toggable
                      span Show more
                      i.icon.icon-select
                  // row
                  .d-welcome__about__hidden(data-visible='0')
                    // single testimonial
                    .d-welcome__about__testimonial
                      .d-welcome__about__testimonial__content
                        .d-welcome__about__testimonial__title Cardiologist
                        .d-welcome__about__testimonial__text Dr. Macron is a great doctor. He has a amazing bedside manner and is very professional. I can't recommend him enough.
                        .d-welcome__about__testimonial__author - Bob Dole, SF GENERAL HOSPITAL
                      .d-welcome__about__testimonial__rating
                        i.icon.icon-rating
                        i.icon.icon-rating
                        i.icon.icon-rating
                        i.icon.icon-rating
                        i.icon.icon-rating
                        span 4.5
                    // single testimonial
                    .d-welcome__about__testimonial
                      .d-welcome__about__testimonial__content
                        .d-welcome__about__testimonial__title Rock star cardiologist needed!
                        .d-welcome__about__testimonial__text He went above and beyond to make sure that patients received the best care.. 100% recommend.
                        .d-welcome__about__testimonial__author - John Smith, Sacramento state hosital
                      .d-welcome__about__testimonial__rating
                        i.icon.icon-rating
                        i.icon.icon-rating
                        i.icon.icon-rating
                        i.icon.icon-rating
                        i.icon.icon-rating
                        span 4.5
                              
            
        // SEARCH
        .d-search
          .container
            .d-title Find jobs
            .d-search__box.d-box
              .d-search__top
                .d-search__main
                  input(type='text' placeholder='i.e. MD, California, Internal Medicine ')
                  button(type='submit')
                    i.icon.icon-search
                a(href='#').btn.btn--ghost.btn--150.js-toggleSearchFilters Advanced search
              .d-search__collapsable
                .d-search__collapsable__wrapper
                  .d-search__col
                    .ui-group.ui-filtrable
                      label Job Title
                      a(href='#' data-id='') Physicians
                      a(href='#' data-id='').active Advanced Practitioners
                      a(href='#' data-id='') Allied Health
                      a(href='#' data-id='') Nursing
                  .d-search__col
                    .ui-group
                      label Specialty
                      .ui-select
                        .ui-select__visible 
                          span Select Allied Health Specialty
                          i.icon.icon-select
                        .ui-select__dropdown
                          span.ui-select__dropdown__placeholder Select Allied Health Specialty
                          span(data-value='Specialty 1') Specialty 1
                          span(data-value='Specialty 2') Specialty 2
                          span(data-value='Specialty 3') Specialty 3
                          span(data-value='Specialty 4') Specialty 4
                          span(data-value='Specialty 5') Specialty 5
                    .ui-group.js-showMoreList
                      label Other
                      .ui-radio(data-visible='1')
                        input(type='checkbox' name='checkbox_1' id='checkbox_1')
                        label(for='checkbox_1') Board Certified
                      .ui-radio(data-visible='1')
                        input(type='checkbox' name='checkbox_2' id='checkbox_2')
                        label(for='checkbox_2') Board Eligible
                      .ui-radio(data-visible='0')
                        input(type='checkbox' name='checkbox_3' id='checkbox_3')
                        label(for='checkbox_3') Board Certified
                      .ui-radio(data-visible='0')
                        input(type='checkbox' name='checkbox_4' id='checkbox_4')
                        label(for='checkbox_4') Board Eligible
                      .show-more(data-alttext='Show less' data-hidden='1')
                        a(href='#') See more
                  .d-search__col
                    .ui-group
                      label Town
                      input(type='text' placeholder='Berkeley').ui-input
                    .ui-group
                      label State
                      input(type='text' placeholder='CA').ui-input  
                  .d-search__col
                    .ui-group
                      label Weekly Time commitment
                      .ui-radio
                        input(type='checkbox' name='radio' id='radio_1')
                        label(for='radio_1') Less than 5 hours
                      .ui-radio
                        input(type='checkbox' name='radio' id='radio_2')
                        label(for='radio_2') 5 to 10 hours
                      .ui-radio
                        input(type='checkbox' name='radio' id='radio_3')
                        label(for='radio_3') Over 10 hours
                      .ui-radio
                        input(type='checkbox' name='radio' id='radio_4')
                        label(for='radio_4') Flexible
                    
                .d-search__collapsable__cta
                  .d-search__collapsable__cta__applied
                    label Filters applied
                    .ui-tag
                      span 10+ h commitment
                      i.icon.icon-close
                  .d-search__collapsable__cta__btns
                    a(href='#').btn.btn--ghost.btn--150 RESET
                    a(href='#').btn.btn--ghost.btn--150 UPDATE
                    

        // SEARCH
        .d-results
          .container
            .d-results__head
              .d-title Showing 103 results 
              .sortable
                .sortable__label Sort by:
                .sortable__filter
                  span Relevancy
                  i.icon.icon-select
                  .sortable__dropdown
                    span(data-val='Relevancy') Relevancy
                    span(data-val='Experience') Experience
                    span(data-val='Rate') Rate
            
            // card
            .d-results__job(data-link='#')
              .d-results__job__content
                // top (description)
                .d-results__job__description
                  .d-results__job__name Looking for Internal Medicine professional
                  .d-results__job__scope
                    .d-results__job__scope__item
                      i.icon.icon-location
                      span Albany, CA
                    .d-results__job__scope__item
                      i.icon.icon-clock
                      span Less than 3 months
                    .d-results__job__scope__item
                      i.icon.icon-calendar
                      span 07/01/2017
                  .d-results__job__text Internal Medicine physician needed to cover shifts in Oakland, CA and Berkeley, CA
                .d-results__job__numbers
                  .d-results__job__price $250/h
                  .d-results__job__commitment Less than 5 h/wk
                  
              // cta elements
              .d-results__job__cta
                .d-results__job__cta__left
                  .d-results__job__author St Mary’s Hospital
                  .d-results__card__rating
                    i.icon.icon-rating
                    span 4.9
                      span 10 reviews
                .d-results__job__cta__btns
                  .show-more
                    a(href='#') see more
                  a(href='#').btn.btn--150.btn--action.btn--action-green Contact
                  a(href='#').btn.btn--150.btn--action.btn--action-red Apply
                
            // card
            .d-results__job(data-link='#')
              .d-results__job__content
                // top (description)
                .d-results__job__description
                  .d-results__job__name Emergency Medicine MD, DO
                  .d-results__job__scope
                    .d-results__job__scope__item
                      i.icon.icon-location
                      span Berkeley, CA
                    .d-results__job__scope__item
                      i.icon.icon-clock
                      span Less than 1 months
                    .d-results__job__scope__item
                      i.icon.icon-calendar
                      span 05/12/2017
                  .d-results__job__text Join a team of world-class doctors. With multiple hospitals, we offer comprehensive care and a commitment to exceptional quality, safety and kindness.
                .d-results__job__numbers
                  .d-results__job__price $220/h
                  .d-results__job__commitment Less than 10 h/wk
                  
              // cta elements
              .d-results__job__cta
                .d-results__job__cta__left
                  .d-results__job__author Alta Bates Center
                  .d-results__card__rating
                    i.icon.icon-rating
                    span 4.9
                      span 10 reviews
                .d-results__job__cta__btns
                  .show-more
                    a(href='#') see more
                  a(href='#').btn.btn--150.btn--action.btn--action-green Contact
                  a(href='#').btn.btn--150.btn--action.btn--action-red Apply
              
            // card
            .d-results__job(data-link='#')
              .d-results__job__content
                // top (description)
                .d-results__job__description
                  .d-results__job__name Night Hospitalist Physician needed
                  .d-results__job__scope
                    .d-results__job__scope__item
                      i.icon.icon-location
                      span Albany, CA
                    .d-results__job__scope__item
                      i.icon.icon-clock
                      span Less than 3 months
                    .d-results__job__scope__item
                      i.icon.icon-calendar
                      span 07/01/2017
                  .d-results__job__text Looking for a Hospitalist to begin as soon. Shift schedules are 7:00 pm - 7:00 am. <br> Approximately 6 admissions per night

                .d-results__job__numbers
                  .d-results__job__price $300/h
                  .d-results__job__commitment Less than 5 h/wk
                  
              // cta elements
              .d-results__job__cta
                .d-results__job__cta__left
                  .d-results__job__author St Mary’s Hospital
                  .d-results__card__rating
                    i.icon.icon-rating
                    span 4.9
                      span 10 reviews
                .d-results__job__cta__btns
                  .show-more
                    a(href='#') see more
                  a(href='#').btn.btn--150.btn--action.btn--action-green Contact
                  a(href='#').btn.btn--150.btn--action.btn--action-red Apply
                
            // card
            .d-results__job(data-link='#')
              .d-results__job__content
                // top (description)
                .d-results__job__description
                  .d-results__job__name Family Medicine Physician
                  .d-results__job__scope
                    .d-results__job__scope__item
                      i.icon.icon-location
                      span Berkeley, CA
                    .d-results__job__scope__item
                      i.icon.icon-clock
                      span Less than 1 months
                    .d-results__job__scope__item
                      i.icon.icon-calendar
                      span 05/12/2017
                  .d-results__job__text Seeking a Family Medicine or Emergency Medicine Physician in beautiful, coastal southern California.
                .d-results__job__numbers
                  .d-results__job__price $225/h
                  .d-results__job__commitment Less than 10 h/wk
                  
              // cta elements
              .d-results__job__cta
                .d-results__job__cta__left
                  .d-results__job__author Alta Bates Center
                  .d-results__card__rating
                    i.icon.icon-rating
                    span 4.9
                      span 10 reviews
                .d-results__job__cta__btns
                  .show-more
                    a(href='#') see more
                  a(href='#').btn.btn--150.btn--action.btn--action-green Contact
                  a(href='#').btn.btn--150.btn--action.btn--action-red Apply
                          
      include shared/footer.pug
      include shared/feedback.pug
    include shared/modal-reg.pug
    include shared/scripts.pug
