/* 0. VARS */
/* LAYOUT */
/* COLORS */
/* OPTIONS */
/* SOCIALS */

/* 2. Elements */
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "IconFont";
    src: url('../fonts/IconFont.eot');
    src: url('../fonts/IconFont.eot?#iefix') format('eot'),
    url('../fonts/IconFont.ttf') format('truetype'),
    url('../fonts/IconFont.woff') format('woff'),
    url('../fonts/IconFont.svg#IconFont') format('svg');
}
.icon:before {
    display: inline-block;
    text-transform: none;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    font-family: "IconFont" !important;
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-next:before {
    content: "\EA01";
}
.icon-arrow-prev:before {
    content: "\EA02";
}
.icon-checkbox:before {
    content: "\EA03";
}
.icon-email:before {
    content: "\EA04";
}
.icon-facebook:before {
    content: "\EA05";
}
.icon-linkedin:before {
    content: "\EA06";
}
.icon-modal-close:before {
    content: "\EA07";
}
.icon-next:before {
    content: "\EA08";
}
.icon-twitter:before {
    content: "\EA09";
}
/* ICONS */
.icon {
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: ' ';
    vertical-align: middle;
    font-style: normal;
}
.icon-logo {
    width: 205px;
    height: 38px;
    background-image: url('../images/el/logo@2x.png');
}
@media(max-width: 480px) {
    .icon-logo {
        width: 190px;
        height: 34px;
    }
}
/* buttons */
button {
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: pointer;
}
button:focus {
    outline: none;
}
.btn {
    position: relative;
    position: relative;
    display: inline-block;
    text-align: center;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.btn:focus, .btn:active {
    outline: none;
}
.btn:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border-radius: 30px;
    content: ' ';
    opacity: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.btn--red {
    padding: 12px 15px;
    border-radius: 30px;
    background: #EF4836;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
.btn--red:after {
    border: 2px solid white;
    opacity: 0;
}
.btn--red:hover {
    background: rgba(239, 72, 54, 0.9);
}
.btn--red:hover:after {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    opacity: 1;
}
.btn--form {
    padding: 15px 15px;
    width: 100%;
    border-radius: 0px;
    background: #EF4836;
    color: white;
    font-weight: 600;
    font-size: 17px;
}
.btn--form span {
    display: inline-block;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translate3d(15px, 0,0);
            transform: translate3d(15px, 0,0);
}
.btn--form .icon-next {
    margin-left: 10px;
    font-size: 11px;
    opacity: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translate3d(30px, 0,0);
            transform: translate3d(30px, 0,0);
}
.btn--form:hover {
    background: rgba(239, 72, 54, 0.95);
}
.btn--form:hover span {
    -webkit-transform: translate3d(0px, 0,0);
            transform: translate3d(0px, 0,0);
}
.btn--form:hover .icon-next {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0,0);
            transform: translate3d(0px, 0,0);
}
.btn--muted {
    padding: 12px 15px;
    border: 2px solid #A0B0B9;
    border-radius: 30px;
    color: #A0B0B9;
    font-weight: 600;
    font-size: 15px;
}
.btn--muted:hover {
    background: #A0B0B9;
    color: white;
}
.btn--150 {
    width: 150px;
}
.btn--huge {
    padding: 23px 75px;
    border-radius: 50px;
    font-size: 17px;
}
.hamburger {
    display: inline-block;
    overflow: visible;
    margin: 0;
    margin-right: -15px;
    padding: 13px 15px 8px 15px;
    border: 0;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    font: inherit;
    cursor: pointer;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger-box {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 24px;
}
.hamburger-inner {
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -2px;
    width: 32px;
    height: 3px;
    border-radius: 4px;
    background-color: #2F313A;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.hamburger-inner:before, .hamburger-inner:after {
    position: absolute;
    width: 32px;
    height: 3px;
    border-radius: 4px;
    background-color: #2F313A;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.hamburger-inner:before, .hamburger-inner:after {
    display: block;
    content: "";
}
.hamburger-inner:before {
    top: -10px;
}
.hamburger-inner:after {
    bottom: -10px;
}
/* */
/* Squeeze */
.hamburger--squeeze .hamburger-inner {
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
}
.hamburger--squeeze .hamburger-inner:before {
    -webkit-transition: top 0.1s 0.14s ease, opacity 0.1s ease;
    transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}
.hamburger--squeeze .hamburger-inner:after {
    -webkit-transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.active .hamburger-inner {
    -webkit-transition-delay: 0.14s;
            transition-delay: 0.14s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.hamburger--squeeze.active .hamburger-inner:before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.1s ease, opacity 0.1s 0.14s ease;
    transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}
.hamburger--squeeze.active .hamburger-inner:after {
    bottom: 0;
    -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
/* UI */
/* THIS IS GROUPED INPUT WHERE DOM MANIPULATIONS IS REQUIRED */
/* label is used as a placeholder */
.input {
    position: relative;
}
.input--dynamic {
    margin-bottom: 15px;
    min-height: 40px;
    border-bottom: 1px solid #EBEBEB;
}
.input--dynamic label {
    position: absolute;
    bottom: 7px;
    display: block;
    font-weight: 600;
    font-size: 18px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.input--dynamic input {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    border: 0;
    background: transparent;
    color: $grayColor;
    font-weight: 600;
    font-size: 18px;
    -webkit-appearance: none;
}
.input--dynamic input:focus {
    outline: none;
}
.input--focused label {
    color: $grayColor;
    font-weight: 400;
    font-size: 12px;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
}
/* THIS IS REGULAR CLASS MODIFIER FOR THE INPUT IT */
.ui-input {
    display: block;
    padding: 12px 15px;
    width: 100%;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    background: white;
    color: $grayColor;
    -webkit-appearance: none;
}
.ui-input--line {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 55px;
    border-color: #BDCDD6;
    background: rgba(248, 248, 248, 0.5);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.ui-input--line > label:not(.ui-input__validation) {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 3;
    color: #2F313A;
    font-weight: 700;
    font-size: 14px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.ui-input--line input, .ui-input--line select {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    display: block;
    padding: 15px 20px 15px 120px;
    width: 100%;
    border: 0;
    background: transparent;
    font-size: 16px;
    -webkit-appearance: none;
}
.ui-input--select {}
.ui-input--select:after {
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 5;
    display: block;
    width: 9px;
    height: 5px;
    background: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='9px' height='6px' viewBox='0 0 9 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3Eselect%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs/%3E %3Cg id='Pages' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.495074728'%3E %3Cg id='1.3-Reqest-a-demo' transform='translate(-1308.000000, -777.000000)' fill-rule='nonzero' fill='%23000000'%3E %3Cg id='hero'%3E %3Cg id='Mega-heading' transform='translate(216.000000, 284.000000)'%3E %3Cg id='signupform' transform='translate(739.000000, 83.000000)'%3E %3Cg id='input-copy-5' transform='translate(50.000000, 385.000000)'%3E %3Cg id='select' transform='translate(307.500000, 28.000000) rotate(90.000000) translate(-307.500000, -28.000000) translate(304.500000, 23.500000)'%3E %3Cpath d='M0.782051282,8.21794872 C0.884615385,8.32051282 1.01282051,8.37179487 1.15384615,8.37179487 C1.28205128,8.37179487 1.42307692,8.32051282 1.52564103,8.21794872 L4.91025641,4.83333333 C5.01282051,4.73076923 5.06410256,4.6025641 5.06410256,4.46153846 C5.06410256,4.32051282 5.01282051,4.19230769 4.91025641,4.08974359 L1.52564103,0.705128205 C1.32051282,0.5 0.987179487,0.5 0.782051282,0.705128205 C0.576923077,0.91025641 0.576923077,1.24358974 0.782051282,1.44871795 L3.79487179,4.46153846 L0.782051282,7.47435897 C0.576923077,7.67948718 0.576923077,8.01282051 0.782051282,8.21794872 L0.782051282,8.21794872 Z'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E") no-repeat center;
    content: ' ';
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.ui-input--focused {
    border-color: #3AC9D3;
    background: white;
}
.ui-input.has-error {
    border-color: #EF4836;
}
@media(max-width: 414px) {
    .ui-input {}
    .ui-input--line {
        height: 50px;
    }
    .ui-input--line > label:not(.ui-input__validation) {
        left: 15px;
        font-size: 13px;
    }
    .ui-input--line input, .ui-input--line select {
        padding-left: 100px;
        font-size: 14px;
    }
}
.ui-textarea textarea {
    display: block;
    padding: 12px 15px;
    width: 100%;
    border: 1px solid #EBEBEB;
    border-color: #BDCDD6;
    border-radius: 4px;
    background: white;
    background: rgba(248, 248, 248, 0.5);
    color: $grayColor;
    font-size: 14px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-appearance: none;
}
.ui-textarea textarea:focus {
    border-color: #3AC9D3;
    background: white;
}
.ui-textarea.has-error textarea {
    border-color: #EF4836;
}
.js-datepicker {
    background-image: svg-load('../../images/svg/calendar.svg');
    background-position: 95% center;
    background-size: 17px 17px;
    background-repeat: no-repeat;
}
/* Checkbox */
.ui-checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}
.ui-checkbox input:checked + label {}
.ui-checkbox input:checked + label:before {
    border-color: #3AC9D3;
}
.ui-checkbox input:checked + label:after {
    -webkit-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
}
.ui-checkbox label {
    position: relative;
    display: block;
    padding-left: 35px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}
.ui-checkbox label:before {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #BDCDD6;
    border-radius: 4px;
    background: rgba(248, 248, 248, 0.5);
    content: ' ';
    vertical-align: middle;
    cursor: pointer;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.ui-checkbox label:after {
    position: absolute;
    top: 50%;
    left: 1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='15px' height='11px' viewBox='0 0 15 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3Echeckbox%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs/%3E %3Cg id='Pages' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='2.4-Signup---Facility-4-4' transform='translate(-601.000000, -746.000000)' fill-rule='nonzero' fill='%233AC9D3'%3E %3Cg id='hero-copy'%3E %3Cg id='signupform' transform='translate(549.000000, 138.000000)'%3E %3Cg id='adress' transform='translate(50.000000, 604.000000)'%3E %3Cg id='field-copy-3'%3E %3Cg id='checkbox-copy-2'%3E %3Cg id='checked-2-copy' transform='translate(2.000000, 4.000000)'%3E %3Cpath d='M0.473668639,6.05 C0.363017751,5.94 0.307692308,5.775 0.307692308,5.665 C0.307692308,5.555 0.363017751,5.39 0.473668639,5.28 L1.24822485,4.51 C1.46952663,4.29 1.80147929,4.29 2.02278107,4.51 L2.07810651,4.565 L5.12100592,7.81 C5.2316568,7.92 5.39763314,7.92 5.50828402,7.81 L12.9218935,0.165 L12.9772189,0.165 L12.9772189,0.165 C13.1985207,-0.055 13.5304734,-0.055 13.7517751,0.165 L14.5263314,0.935 C14.7476331,1.155 14.7476331,1.485 14.5263314,1.705 L14.5263314,1.705 L5.67426036,10.835 C5.56360947,10.945 5.45295858,11 5.28698225,11 C5.12100592,11 5.01035503,10.945 4.89970414,10.835 L0.584319527,6.215 L0.473668639,6.05 Z' id='checkbox'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    content: ' ';
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    -webkit-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0);
}
.ui-checkbox--chunk {
    margin-bottom: 5px;
    border-color: #BDCDD6;
    border-radius: 4px;
    background: rgba(248, 248, 248, 0.5);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.ui-checkbox--chunk label {
    padding: 11px 15px;
}
.ui-checkbox--chunk label:before {
    left: 15px;
}
.ui-checkbox--chunk label:after {
    left: 16px;
}
.ui-checkbox--chunk:hover {
    border-color: #ECF0F1;
    background: white;
}
/* Styles for dialog window */
.mfp-wrap {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
}
html.mfp-helper {
    height: 100%;
}
html.mfp-helper body {
    overflow: hidden;
    height: 100%;
    -webkit-transform: translateZ(0);
}
.modal {}
.modal__wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    padding-top: 7vh;
    padding-bottom: 20px;
    min-height: 100vh;
    color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.modal__wrapper .heading {
    max-width: 100%;
}
.modal__wrapper .heading__sub {
    margin-top: 20px;
    font-size: 18px;
}
.modal__heading {
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-flex: 0;
}
.modal__role {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 970px;
    -webkit-box-flex: 0;
}
.modal__role .btn {
    margin-top: auto;
}
.modal__role__name {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Montserrat';
}
.modal__role__img {
    max-width: 100%;
}
.modal__role__caption {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 18px;
}
.modal__col {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background .25s ease-in-out;
    transition: background .25s ease-in-out;
    -webkit-box-flex: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.modal__col:first-child {}
.modal__col:first-child:after {
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 20px;
    display: block;
    width: 1px;
    background: white;
    content: ' ';
}
.modal__col:last-child {
    border-right: 0;
}
.modal__col:hover {
    background: rgba(255, 255, 255, 0.1);
}
.modal__col__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.modal__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    text-align: center;
    font-size: 14px;
    -webkit-box-flex: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
}
.modal__bottom__row {
    margin-bottom: 10px;
}
.modal__bottom__row span {
    color: rgba(255, 255, 255, 0.7);
}
.modal__bottom__row a {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    border-bottom: 1px solid transparent;
    color: white;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.modal__bottom__row a:hover {
    border-color: rgba(255, 255, 255, 0.7);
}
.modal__form {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 430px;
    -webkit-box-flex: 0;
}
.modal__form .btn--form {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.modal__form-container {
    overflow: hidden;
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}
.modal__form-inputs {
    padding: 35px 50px;
    color: #2F313A;
}
.modal__form-inputs .ui-input {
    margin-bottom: 15px;
}
.modal__form-inputs .ui-input:last-child {
    margin-bottom: 0;
}
.modal__beta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-align-items: center;
            align-items: center;
    margin: 0 auto;
    padding: 40px 0;
    max-width: 970px;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.modal__beta__left {
    -webkit-flex: 0 1 43%;
        -ms-flex: 0 1 43%;
            flex: 0 1 43%;
    text-align: center;
    -webkit-box-flex: 0;
}
.modal__beta__image {
    margin-bottom: 50px;
}
.modal__beta__image img {
    max-width: 100%;
}
.modal__beta__text {
    text-align: left;
    font-size: 22px;
    font-family: 'Montserrat';
    line-height: 1.36;
}
.modal__beta__right {
    -webkit-flex: 0 1 57%;
        -ms-flex: 0 1 57%;
            flex: 0 1 57%;
    -webkit-box-flex: 0;
}
.modal__beta__right .modal__form {
    position: relative;
    margin-right: 0;
}
.modal__beta__abstract {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate3d(-135px,-60%,0);
            transform: translate3d(-135px,-60%,0);
}
.modal__thanks {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: auto;
    padding: 40px 0;
    max-width: 970px;
    text-align: center;
    -webkit-box-flex: 0;
}
.modal__thanks__image {
    position: relative;
}
.modal__thanks__image img {
    position: relative;
    z-index: 2;
    max-width: 100%;
}
.modal__thanks__abstract {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.modal__thanks__abstract img {
    z-index: 1;
}
.modal__socials {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.modal__socials .modal__beta__text {
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: -.5px;
    font-weight: 600;
}
.modal__socials .footer__socials {
    margin-right: auto;
    max-width: 140px;
}
/* Fade-zoom animation for first dialog */
.popup-buble button.mfp-close {
    top: 5vh;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5) url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3Emodal-close%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs/%3E %3Cg id='Pages' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.483582428'%3E %3Cg id='2.-Signup-Welcome' transform='translate(-1351.000000, -56.000000)' fill-rule='nonzero' fill='%23010002'%3E %3Cg id='hero-copy' transform='translate(-1.000000, 0.000000)'%3E %3Cg id='modal-close' transform='translate(1351.000000, 55.000000)'%3E %3Cpath d='M11.7195093,9.96238245 L18.6011703,3.08317401 C19.0832692,2.59854078 19.0832692,1.81068477 18.6011703,1.32613329 C18.1165371,0.841500064 17.3262285,0.841500064 16.8441296,1.32613329 L9.96246858,8.20534174 L3.08317838,1.32613329 C2.59854515,0.841500064 1.81068914,0.841500064 1.32613766,1.32613329 C0.841586189,1.81076652 0.841504436,2.59862253 1.32613766,3.08317401 L8.20534611,9.96238245 L1.32613766,16.8440435 C0.841504436,17.3261424 0.841504436,18.1165327 1.32613766,18.6010842 C1.81077089,19.0831831 2.5986269,19.0831831 3.08317838,18.6010842 L9.96238683,11.7194232 L16.8440479,18.6010842 C17.3261467,19.0831831 18.1165371,19.0831831 18.6010886,18.6010842 C19.0831875,18.116451 19.0831875,17.3261424 18.6010886,16.8440435 L11.7195093,9.96238245 Z' id='Shape'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E") no-repeat center;
    background-size: 20px 20px;
    font-size: 0;
    opacity: 1;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.popup-buble button.mfp-close:hover {
    background-color: white;
}
.popup-buble .popup-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.popup-buble.mfp-ready .popup-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
.popup-buble.mfp-removing .popup-dialog {
    opacity: 0;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.popup-buble.mfp-bg {
    background: #3AC9D3;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.popup-buble.mfp-ready.mfp-bg {
    opacity: 1;
}
.popup-buble.mfp-removing.mfp-bg {
    opacity: 0;
}

/*# sourceMappingURL=secondary.css.map */
