/* 0. VARS */
/* LAYOUT */
/* COLORS */
/* OPTIONS */
/* SOCIALS */

/* 2. Elements */
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "IconFont";
    src: url('../fonts/IconFont.eot');
    src: url('../fonts/IconFont.eot?#iefix') format('eot'),
    url('../fonts/IconFont.ttf') format('truetype'),
    url('../fonts/IconFont.woff') format('woff'),
    url('../fonts/IconFont.svg#IconFont') format('svg');
}
.icon:before {
    display: inline-block;
    text-transform: none;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    font-family: "IconFont" !important;
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-alert:before {
    content: "\EA01";
}
.icon-arrow-next:before {
    content: "\EA02";
}
.icon-arrow-prev:before {
    content: "\EA03";
}
.icon-attach:before {
    content: "\EA04";
}
.icon-calendar:before {
    content: "\EA05";
}
.icon-call:before {
    content: "\EA06";
}
.icon-chat:before {
    content: "\EA07";
}
.icon-checkbox:before {
    content: "\EA08";
}
.icon-clock:before {
    content: "\EA09";
}
.icon-close:before {
    content: "\EA0A";
}
.icon-email:before {
    content: "\EA0B";
}
.icon-facebook:before {
    content: "\EA0C";
}
.icon-forward:before {
    content: "\EA0D";
}
.icon-linkedin:before {
    content: "\EA0E";
}
.icon-location:before {
    content: "\EA0F";
}
.icon-message:before {
    content: "\EA10";
}
.icon-modal-close:before {
    content: "\EA11";
}
.icon-next:before {
    content: "\EA12";
}
.icon-no-avatar:before {
    content: "\EA13";
}
.icon-notification:before {
    content: "\EA14";
}
.icon-plus:before {
    content: "\EA15";
}
.icon-rating-half:before {
    content: "\EA16";
}
.icon-rating:before {
    content: "\EA17";
}
.icon-search:before {
    content: "\EA18";
}
.icon-select:before {
    content: "\EA19";
}
.icon-twitter:before {
    content: "\EA1A";
}
.icon-verify:before {
    content: "\EA1B";
}
.icon-videocall:before {
    content: "\EA1C";
}
/* ICONS */
.icon {
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: ' ';
    vertical-align: middle;
    font-style: normal;
}
.icon-logo {
    width: 205px;
    height: 38px;
    background-image: url('../images/el/logo@2x.png');
}
.icon-rating-half {
    width: 13px;
    height: 13px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='13px' height='12px' viewBox='0 0 13 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3Erating-half%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs/%3E %3Cg id='Pages' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='3.1.1-Dash---Freelancer-Profile' transform='translate(-1319.000000, -1269.000000)' fill-rule='nonzero'%3E %3Cg id='facility-details-copy-3' transform='translate(616.000000, 1165.000000)'%3E %3Cg id='row-copy-3' transform='translate(-1.000000, 44.000000)'%3E %3Cg id='card'%3E %3Cg id='rate' transform='translate(636.000000, 57.000000)'%3E %3Cg id='rating-half' transform='translate(68.000000, 3.000000)'%3E %3Cpath d='M12.6951763,4.65021982 C12.6951763,4.46368981 12.5527989,4.34776736 12.2678306,4.30234652 L8.43804667,3.75046348 L6.72147553,0.309974045 C6.62490053,0.103289369 6.50018678,0 6.34762821,0 C6.19509636,0 6.07046278,0.103289369 5.97380761,0.309974045 L4.2571563,3.75046348 L0.427185366,4.30234652 C0.142430752,4.34776736 0,4.46368981 0,4.65021982 C0,4.75613115 0.0635994727,4.87711214 0.190771696,5.01321574 L2.96787741,7.6899465 L2.31176066,11.4705758 C2.3015794,11.5411833 2.29652886,11.5917421 2.29652886,11.621855 C2.29652886,11.7277133 2.32319788,11.8171513 2.37658937,11.8903014 C2.42995414,11.9635574 2.51001465,12 2.6168778,12 C2.70848242,12 2.81016141,11.9698872 2.92204838,11.9093437 L6.34754804,10.1246623 L9.77328821,11.9093437 C9.88028497,11.9698872 9.98199068,12 10.0783519,12 C10.180405,12 10.2577933,11.9635574 10.3111848,11.8903014 C10.3644159,11.8172573 10.3911117,11.7277133 10.3911117,11.621855 C10.3911117,11.5564119 10.3885463,11.506012 10.3834423,11.4705758 L9.72727212,7.6899465 L12.4967085,5.01321574 C12.629145,4.88214418 12.6951763,4.76111023 12.6951763,4.65021982 Z' id='Shape-Copy-4' fill='%23FDB22B'/%3E %3Cpath d='M12.6951763,4.65021982 C12.6951763,4.46368981 12.5527989,4.34776736 12.2678306,4.30234652 L8.43804667,3.75046348 L6.72147553,0.309974045 C6.62490053,0.103289369 6.50018678,0 6.34762821,0 C6.19509636,0 6.34754804,10.1246623 6.34754804,10.1246623 L9.77328821,11.9093437 C9.88028497,11.9698872 9.98199068,12 10.0783519,12 C10.180405,12 10.2577933,11.9635574 10.3111848,11.8903014 C10.3644159,11.8172573 10.3911117,11.7277133 10.3911117,11.621855 C10.3911117,11.5564119 10.3885463,11.506012 10.3834423,11.4705758 L9.72727212,7.6899465 L12.4967085,5.01321574 C12.629145,4.88214418 12.6951763,4.76111023 12.6951763,4.65021982 Z' id='Shape-Copy-4' fill='%23A0B0B9'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
}
.icon-rating-half:before {
    display: none;
}
.icon-rating-blank {
    color: #A0B0B9 !important;
}
@media(max-width: 480px) {
    .icon-logo {
        width: 190px;
        height: 34px;
    }
}
.hamburger {
    display: inline-block;
    overflow: visible;
    margin: 0;
    margin-right: -15px;
    padding: 13px 15px 8px 15px;
    border: 0;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    font: inherit;
    cursor: pointer;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger-box {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 24px;
}
.hamburger-inner {
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -2px;
    width: 32px;
    height: 3px;
    border-radius: 4px;
    background-color: #2F313A;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.hamburger-inner:before, .hamburger-inner:after {
    position: absolute;
    width: 32px;
    height: 3px;
    border-radius: 4px;
    background-color: #2F313A;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.hamburger-inner:before, .hamburger-inner:after {
    display: block;
    content: "";
}
.hamburger-inner:before {
    top: -10px;
}
.hamburger-inner:after {
    bottom: -10px;
}
/* */
/* Squeeze */
.hamburger--squeeze .hamburger-inner {
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
}
.hamburger--squeeze .hamburger-inner:before {
    -webkit-transition: top 0.1s 0.14s ease, opacity 0.1s ease;
    transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}
.hamburger--squeeze .hamburger-inner:after {
    -webkit-transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.active .hamburger-inner {
    -webkit-transition-delay: 0.14s;
            transition-delay: 0.14s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.hamburger--squeeze.active .hamburger-inner:before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.1s ease, opacity 0.1s 0.14s ease;
    transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}
.hamburger--squeeze.active .hamburger-inner:after {
    bottom: 0;
    -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
/* Styles for dialog window */
.mfp-wrap {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
}
html.mfp-helper {
    height: 100%;
}
html.mfp-helper body {
    overflow: hidden;
    height: 100%;
    -webkit-transform: translateZ(0);
}
.modal {}
.modal__wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    padding-top: 7vh;
    padding-bottom: 20px;
    min-height: 100vh;
    color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.modal__wrapper .heading {
    max-width: 100%;
}
.modal__wrapper .heading__sub {
    margin-top: 20px;
    font-size: 18px;
}
.modal__heading {
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-flex: 0;
}
.modal__role {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 970px;
    -webkit-box-flex: 0;
}
.modal__role .btn {
    margin-top: auto;
}
.modal__role__name {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Montserrat';
}
.modal__role__img {
    -webkit-flex: 0 0 110px;
        -ms-flex: 0 0 110px;
            flex: 0 0 110px;
    -webkit-box-flex: 0;
}
.modal__role__img img {
    max-width: 100%;
}
.modal__role__caption {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 18px;
}
.modal__col {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background .25s ease-in-out;
    transition: background .25s ease-in-out;
    -webkit-box-flex: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.modal__col:first-child {}
.modal__col:first-child:after {
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 20px;
    display: block;
    width: 1px;
    background: white;
    content: ' ';
}
.modal__col:last-child {
    border-right: 0;
}
.modal__col:hover {
    background: rgba(255, 255, 255, 0.1);
}
.modal__col__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.modal__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    text-align: center;
    font-size: 14px;
    -webkit-box-flex: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
}
.modal__bottom__row {
    margin-bottom: 10px;
}
.modal__bottom__row span {
    color: rgba(255, 255, 255, 0.7);
}
.modal__bottom__row a {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    border-bottom: 1px solid transparent;
    color: white;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.modal__bottom__row a:hover {
    border-color: rgba(255, 255, 255, 0.7);
}
.modal__form {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 430px;
    -webkit-box-flex: 0;
}
.modal__form .btn--form {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.modal__form-container {
    overflow: hidden;
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}
.modal__form-inputs {
    padding: 35px 50px;
    color: #2F313A;
}
.modal__form-inputs .ui-input {
    margin-bottom: 15px;
}
.modal__form-inputs .ui-input:last-child {
    margin-bottom: 0;
}
.modal__beta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-align-items: center;
            align-items: center;
    margin: 0 auto;
    padding: 40px 0;
    max-width: 970px;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.modal__beta__left {
    -webkit-flex: 0 1 43%;
        -ms-flex: 0 1 43%;
            flex: 0 1 43%;
    text-align: center;
    -webkit-box-flex: 0;
}
.modal__beta__image {
    margin-bottom: 50px;
}
.modal__beta__image img {
    max-width: 100%;
}
.modal__beta__text {
    text-align: left;
    font-size: 22px;
    font-family: 'Montserrat';
    line-height: 1.36;
}
.modal__beta__right {
    -webkit-flex: 0 1 57%;
        -ms-flex: 0 1 57%;
            flex: 0 1 57%;
    -webkit-box-flex: 0;
}
.modal__beta__right .modal__form {
    position: relative;
    margin-right: 0;
}
.modal__beta__abstract {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate3d(-135px,-60%,0);
            transform: translate3d(-135px,-60%,0);
}
.modal__thanks {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: auto;
    padding: 40px 0;
    max-width: 970px;
    text-align: center;
    -webkit-box-flex: 0;
}
.modal__thanks__image {
    position: relative;
}
.modal__thanks__image img {
    position: relative;
    z-index: 2;
    max-width: 100%;
}
.modal__thanks__abstract {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.modal__thanks__abstract img {
    z-index: 1;
}
.modal__socials {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.modal__socials .modal__beta__text {
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: -.5px;
    font-weight: 600;
}
.modal__socials .footer__socials {
    margin-right: auto;
    max-width: 140px;
}
/* Fade-zoom animation for first dialog */
.popup-buble button.mfp-close {
    top: 5vh;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5) url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3Emodal-close%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs/%3E %3Cg id='Pages' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.483582428'%3E %3Cg id='2.-Signup-Welcome' transform='translate(-1351.000000, -56.000000)' fill-rule='nonzero' fill='%23010002'%3E %3Cg id='hero-copy' transform='translate(-1.000000, 0.000000)'%3E %3Cg id='modal-close' transform='translate(1351.000000, 55.000000)'%3E %3Cpath d='M11.7195093,9.96238245 L18.6011703,3.08317401 C19.0832692,2.59854078 19.0832692,1.81068477 18.6011703,1.32613329 C18.1165371,0.841500064 17.3262285,0.841500064 16.8441296,1.32613329 L9.96246858,8.20534174 L3.08317838,1.32613329 C2.59854515,0.841500064 1.81068914,0.841500064 1.32613766,1.32613329 C0.841586189,1.81076652 0.841504436,2.59862253 1.32613766,3.08317401 L8.20534611,9.96238245 L1.32613766,16.8440435 C0.841504436,17.3261424 0.841504436,18.1165327 1.32613766,18.6010842 C1.81077089,19.0831831 2.5986269,19.0831831 3.08317838,18.6010842 L9.96238683,11.7194232 L16.8440479,18.6010842 C17.3261467,19.0831831 18.1165371,19.0831831 18.6010886,18.6010842 C19.0831875,18.116451 19.0831875,17.3261424 18.6010886,16.8440435 L11.7195093,9.96238245 Z' id='Shape'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E") no-repeat center;
    background-size: 20px 20px;
    font-size: 0;
    opacity: 1;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.popup-buble button.mfp-close:hover {
    background-color: white;
}
.popup-buble .popup-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.popup-buble.mfp-ready .popup-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
.popup-buble.mfp-removing .popup-dialog {
    opacity: 0;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.popup-buble.mfp-bg {
    background: #3AC9D3;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.popup-buble.mfp-ready.mfp-bg {
    opacity: 1;
}
.popup-buble.mfp-removing.mfp-bg {
    opacity: 0;
}
@media(max-width: 992px) {
    .modal {}
    .modal__beta {}
    .modal__beta__text {
        font-size: 20px;
    }
    .popup-buble button.mfp-close {
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        background-size: 15px 15px;
    }
}
@media(max-width: 900px) {
    .modal {}
    .modal__beta {}
    .modal__beta__left {
        padding-right: 20px;
        text-align: left;
    }
    .modal__beta__right {
        padding-left: 20px;
    }
    .modal__beta__abstract {
        display: none;
    }
}
@media(max-width: 800px) {
    .modal {}
    .modal__role {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-right: -25px;
        margin-left: -25px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
    .modal__col {
        -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        -webkit-box-flex: 0;
    }
    .modal__col:first-child {
        padding-bottom: 40px;
    }
    .modal__col:first-child:after {
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
    }
    .modal__col:last-child {
        padding-top: 40px;
    }
    .modal__beta {
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-align-items: flex-start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-box-align: start;
            -ms-flex-align: start;
    }
    .modal__beta__left {
        -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        padding-right: 0;
        text-align: center;
        -webkit-box-flex: 0;
    }
    .modal__beta__text {
        text-align: center;
    }
    .modal__beta__right {
        -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        padding-left: 0;
        width: 100%;
        -webkit-box-flex: 0;
    }
    .modal__beta__right .modal__form {
        margin-right: auto;
        padding-top: 0;
        padding-bottom: 80px;
    }
}
@media(max-width: 640px) {
    .modal {}
    .modal__beta {}
    .modal__beta__image {
        margin-bottom: 20px;
    }
    .modal__beta__image img {
        max-width: 45%;
    }
    .modal__thanks .footer__socials {
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
    }
    .modal__thanks__abstract {
        width: 90%;
    }
}
@media(max-width: 460px) {
    .modal {}
    .modal__form {}
    .modal__form-inputs {
        padding: 25px 20px;
    }
    .modal__beta {}
    .modal__beta__text {
        font-size: 18px;
    }
}
@media(max-width: 414px) {
    .modal {}
    .modal__role {}
    .modal__role__name {
        font-size: 20px;
    }
    .modal__form {}
    .modal__form-inputs .ui-input {
        margin-bottom: 10px;
    }
}
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-transform: none;
    text-shadow: none;
    white-space: normal;
    word-spacing: normal;
    word-wrap: normal;
    word-break: normal;
    letter-spacing: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    opacity: 0;
    filter: alpha(opacity = 0);
    line-break: auto;
}
.tooltip.in {
    opacity: .9;
    filter: alpha(opacity = 90);
}
.tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
}
.tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
}
.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
}
.tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
}
.tooltip-inner {
    padding: 3px 8px;
    max-width: 200px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    text-align: center;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
}
.tooltip {}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

/*# sourceMappingURL=secondary.css.map */
